body {
    background-color: black;
    color: white;
}
.card {
    background-color: #333;
    color: white;
    padding: 20px;
    margin: 20px;
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.card h1 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card p {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

.container{
    display: flex;
    margin-top: 50px ;
} 